/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #310024;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: lighten($backgroundColor, 85%);
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.slides {
  background-image: url('../../images/bg-trasnparente.png');

}

.reveal {

  h1 {
    font-size: 5rem;
  }

  &::before {      
    content: '';
    background: transparent url("../../images/logo_agetic.svg") no-repeat;
    bottom: 20px;
    position: absolute;
    left: 20px;
    z-index: 1;
    width: 200px;
    height: 70px;
  }
  section {
    .logo-agetic {
      background-color: transparent;
      border: none;
      box-shadow: none;
      max-width: 280px;
      margin: 0 auto;
    }    
  }
}